[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
default_storage_engine=InnoDB
max_allowed_packet=128M
innodb_file_per_table=1
performance-schema=0
max_connections=500
skip-name-resolve

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
